body{
	padding: 0;
	margin: 0;
}

p{
	margin-top: 20px;
}

div#wrapper, footer{
	padding: 0 10px;
}

h2{
	font-size: 48px;
	font-weight: normal;
	margin-bottom: 10px;
}

p{
	font-size: 48px;
}

footer{
	margin-bottom: 20px;
}

a{
	font-size: 48px;
}